.icon-bg {background: url(sprites.png) no-repeat; width:50px; height: 50px;}
.icon-glyphicons_027_search {background-position:-13px -13px; width:24px; height:24px;}
.icon-glyphicons_030_pencil {background-position:-63px -13px; width:24px; height:24px;}
.icon-glyphicons_029_notes_2 {background-position:-115px -11.5px; width:20px; height:27px;}
.icon-glyphicons_028_cars {background-position:-157px -12.5px; width:36px; height:25px;}
.icon-glyphicons_026_road {background-position:-211px -13px; width:28px; height:24px;}
.icon-glyphicons_025_binoculars {background-position:-263px -13px; width:24px; height:24px;}
.icon-glyphicons_023_magnet {background-position:-314.5px -13.5px; width:21px; height:23px;}
.icon-glyphicons_024_parents {background-position:-359px -14px; width:32px; height:22px;}
.icon-glyphicons_021_snowflake {background-position:-411px -11px; width:28px; height:28px;}
.icon-glyphicons_022_fire {background-position:-464.5px -12px; width:21px; height:26px;}
.icon-glyphicons_020_home {background-position:-11.5px -62px; width:27px; height:26px;}
.icon-glyphicons_019_heart_empty {background-position:-63px -64px; width:24px; height:22px;}
.icon-glyphicons_043_group {background-position:-107.5px -64px; width:35px; height:22px;}
.icon-glyphicons_042_pie_chart {background-position:-162px -62.5px; width:26px; height:25px;}
.icon-glyphicons_041_charts {background-position:-211.5px -63px; width:27px; height:24px;}
.icon-glyphicons_040_stats {background-position:-262px -62.5px; width:26px; height:25px;}
.icon-glyphicons_039_notes {background-position:-315px -62.5px; width:20px; height:25px;}
.icon-glyphicons_038_airplane {background-position:-363px -62.5px; width:24px; height:25px;}
.icon-glyphicons_037_coins {background-position:-412px -63px; width:26px; height:24px;}
.icon-glyphicons_036_file {background-position:-465.5px -63px; width:19px; height:24px;}
.icon-glyphicons_035_woman {background-position:-14px -114px; width:22px; height:22px;}
.icon-glyphicons_034_old_man {background-position:-63.5px -113px; width:23px; height:24px;}
.icon-glyphicons_033_luggage {background-position:-115px -111.5px; width:20px; height:27px;}
.icon-glyphicons_031_bus {background-position:-159px -112.5px; width:32px; height:25px;}
.icon-glyphicons_032_wifi_alt {background-position:-212px -112px; width:26px; height:26px;}
